{% extends ngbm.pageLayoutTemplate %}

{% block layout %}
<div class="zone-layout-layout1">

    <section class="zone zone-main">
        {% ngbm_render_zone ngbm.layout.zone('main') %}
    </section>

</div>
{% endblock %}
