{% extends ngbm.pageLayoutTemplate %}

{% block layout %}
<div class="zone-layout-layout2">

    <section class="zone zone-header">
        {% ngbm_render_zone 'header' %}
    </section>

    <section class="zone zone-post_header">
        {% ngbm_render_zone 'post_header' %}
    </section>

    <section class="zone zone-main">
        {% ngbm_render_zone 'main' %}
    </section>

    <section class="zone zone-pre_footer">
        {% ngbm_render_zone 'pre_footer' %}
    </section>

    <section class="zone zone-footer">
        {% ngbm_render_zone 'footer' %}
    </section>

</div>
{% endblock %}
