<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    displayDetailsOnPhpunitDeprecations="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Netgen\Layouts\Standard">
            <directory>tests/lib</directory>
        </testsuite>
    </testsuites>

    <source ignoreSuppressionOfDeprecations="true" ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">lib</directory>
        </include>
    </source>
</phpunit>
