<div class="list-row">
    {% for result in collection %}
        <div class="list-item">
            {{ nglayouts_render_item(result.item, block.itemViewType) }}
        </div>
    {% endfor %}
</div>
