{% extends nglayouts.pageLayoutTemplate %}

{% block layout %}
<div class="zone-layout-layout1">

    <section class="zone zone-main">
        {% nglayouts_render_zone 'main' %}
    </section>

</div>
{% endblock %}
