.ngbm-as-flex {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 20px;
    img {
        max-height: 100%;
    }
    &:empty {
        display: none;
        min-height: 0;
        padding: 0;
    }
}

.ngbm-flex-row {
    display: flex;
    flex-wrap: wrap;
}

.swiper-container {
    &.sushi-swiper {
        visibility: hidden;
        cursor: grab;
        &.swiper-container-horizontal {
            visibility: visible;
        }
    }
}

.thumb-swiper {
    position: relative;
    .gallery-thumbs {
        padding: 10px 0;
        clear: both;
        .swiper-slide {
            width: 25%;
            float: left;
            opacity: .4;
        }
        .swiper-slide-active {
            opacity: 1;
        }
    }
}
