$grid-gutter: 1.875rem !default;
$grid-breakpoints: (
    xxs: 0,
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

// dimensions
$gutter: .9375rem;
$gap: 2 * $gutter;

// colours
$primary: #FED82F;
$secondary: #F8F9FC;
$white: hsl(0, 0, 100);
$black: hsl(0, 0, 0);
$gray-87: hsl(0, 0, 13);
$gray-64: hsl(0, 0, 36);
$gray-54: hsl(0, 0, 46);
$gray-38: hsl(0, 0, 62);
$gray-19: hsl(0, 0, 81);
$gray-12: hsl(0, 0, 88);
$gray-7: hsl(0, 0, 93);
