{% extends '@NetgenLayoutsAdmin/app/block/block.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div data-container-placeholder="left"></div>
        </div>
        <div class="col-md-6">
            <div data-container-placeholder="center"></div>
        </div>
        <div class="col-md-3">
            <div data-container-placeholder="right"></div>
        </div>
    </div>
{% endblock %}
