{% extends '@ngbm/block/block.html.twig' %}

{% set google_maps_api_key = ngbm.config.parameter('api_keys').google_maps %}

{% block content %}
    {% if google_maps_api_key is not empty %}
        <div class="map-embed"></div>
    {% endif %}
{% endblock %}
