name: Tests

on:
  push:
    branches:
      - 'master'
      - '[0-9].[0-9]+'
  pull_request: ~

jobs:
  tests:
    name: ${{ matrix.php }} / ${{ matrix.symfony }}${{ matrix.deps == 'lowest' && ' / lowest' || '' }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.4', '8.5']
        symfony: ['~7.4.0', '~8.0.0']
        deps: ['highest']
        include:
          - php: '8.4'
            symfony: '~7.4.0'
            deps: 'lowest'

    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - run: composer --version
      - run: composer validate --strict

      # Install Flex as a global dependency to enable usage of extra.symfony.require
      # while keeping Flex recipes from applying
      - run: composer global config --no-plugins allow-plugins.symfony/flex true
      - run: composer global require --no-scripts symfony/flex

      - run: composer config extra.symfony.require ${{ matrix.symfony }}

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.deps }}
          composer-options: '--prefer-dist'
          ignore-cache: 'yes'

      - run: composer test
