{% extends '@nglayouts_admin/app/block/block.html.twig' %}

{% import '@NetgenLayoutsAdmin/app/parts/macros.html.twig' as macros %}

{% trans_default_domain 'nglayouts_app' %}

{% set google_maps_api_key = nglayouts.config.parameter('api_keys').google_maps %}

{% block content %}
    {% if google_maps_api_key is not empty %}
        <div class="map-embed"></div>
    {% else %}
        {{ macros.notice('block.notice.no_google_maps_api_key'|trans) }}
    {% endif %}
{% endblock %}
